/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"), url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #9e9aa8;
  --text-dark: #34313d;
  --accent-color: #2bd0d0;
  --accent-color-hover: #9ae3e3;
  --error-color: #f46363;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: none;
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  background-color: var(--accent-color);
  transition: background-color 0.5s ease;
  font-size: 20px;
  line-height: 1.5;
  padding: 14px 40px 12px;
  border-radius: 28px;
}
.button--small {
  font-size: 15px;
  padding: 9px 24px;
}
.button--big {
  padding: 18px 40px 16px;
}
.button--rectangle-big {
  border-radius: 10px;
}
.button--rectangle {
  border-radius: 5px;
}
.button:hover {
  background-color: var(--accent-color-hover);
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* RETINA BGS */
/* CONTAINER */
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  padding: 48px 0;
  background-color: #fff;
  font-weight: bold;
  line-height: normal;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 45px;
  flex-shrink: 0;
}

.logo {
  display: inline-block;
  transition: opacity 0.3s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__image {
  display: block;
  max-width: 120px;
  width: 100%;
  height: auto;
}

/* SITENAV */
.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease, opacity 0.2s ease;
}
.sitenav__link:hover {
  color: var(--text-dark);
}
.sitenav__link:active {
  opacity: 0.8;
}

.site-header__auth {
  margin-left: 45px;
  display: flex;
  align-items: center;
}

.site-header__login-link {
  border: none;
  text-decoration: none;
  background-color: transparent;
  margin-right: 37px;
  color: var(--text-color);
  transition: color 0.3s ease, opacity 0.2s ease;
}
.site-header__login-link:hover {
  color: var(--text-dark);
}
.site-header__login-link:active {
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */