/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --text-color: #9e9aa8;
  --text-dark: #34313d;
  --accent-color: #2bd0d0;
  --accent-color-hover: #9ae3e3;
  --error-color: #f46363;
  --light-bg: #eff1f7;
  --dark-bg: #232127;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

body {
  height: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: none;
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  background-color: var(--accent-color);
  transition: background-color 0.5s ease;
  font-size: 20px;
  line-height: 1.5;
  padding: 14px 40px 12px;
  border-radius: 28px;

  &--small {
    font-size: 15px;
    padding: 9px 24px;
  }

  &--big {
    padding: 18px 40px 16px;
  }

  &--rectangle-big {
    border-radius: 10px;
  }

  &--rectangle {
    border-radius: 5px;
  }

  &:hover {
    background-color: var(--accent-color-hover);
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* RETINA BGS */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (min--moz-device-pixel-ratio: 2),
// only screen and (-o-min-device-pixel-ratio: 2/1),
// only screen and (min-device-pixel-ratio: 2),
// only screen and (min-resolution: 192dpi),
// only screen and (min-resolution: 2dppx) {}
